*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}


header h1{
    color: #e53170;
    text-align: center;
    margin-top: 35px;
    font-size: 3rem;

    font-family: 'Fredoka One', cursive;
}
    



#Paragrafo{
    text-align: center;
    width: 70%;
    height: 40px;
    margin: auto;
    margin-top: 60px;
    color: #525252;

    font-size: 1.1rem;
    font-family: 'Roboto', sans-serif;
}


#Elementi-float{
    width: 70%;
    height: 350px;
    margin: auto;
    margin-top: 20px;
}


.Box-size{
    width: calc(100% / 3 - 50px);
    height: 28.7%;
    background-color: black;
    float: left;
    margin: 35px 25px;

    box-shadow: 6px 6px 13px #979797;
}

.imag{
    width: 25%;
    height: 100px;
    background-color: red;
    float: left;
}

.imag img{
    max-height: 100px;
}


.Info{
    width: 75%;
    height: 100%;
    background-color: black;
    float: left;
    padding: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Info h2{
    color: white;
}

.Info p{
    color: #cdcdcd;
    margin: 2px 0px;
}

.Info a{
    color: #479dc7;
    text-decoration: none;
}