*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


header h1{
    color: red;
    text-align: center;
    margin-top: 25px;
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3rem;
}



#Paragrafo{
    text-align: center;
    width: 70%;
    height: 40px;
    background-color: red;
    margin: auto;
    margin-top: 60px;
}


#Elementi-float{
    width: 70%;
    height: 350px;
    background-color: green ;
    margin: auto;
    margin-top: 20px;
}


.Box-size{
    width: calc(100% / 3 - 50px);
    height: 30%;
    background-color: blanchedalmond;
    float: left;
    margin: 35px 25px;
}